<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="DemoTests">
    <classes>
      <class name="TestNGPractice.Demo"/>
      <methods>
     // <include name="skr"/>
      </methods>
      <class name="TestNGPractice.Demo2"/>
      <class name="TestNGPractice.Demo4"/>
    </classes>
  </test> 
  
   <test thread-count="5" name="LoansTest">
    <classes>
      <class name="TestNGPractice.Demo3"/>
      <methods >
   //   <exclude name="mobile.*"/>
      
      </methods>
      <class name="TestNGPractice.Demo4"/>
      
      
    </classes>
  </test> 
</suite> 
